/* DISCORD GOLD THEME */


.radio-theme.dark label {
    background: url("https://cdn.discordapp.com/attachments/167041716040237056/273562287351136257/gold.png")
}
.form .btn-primary,
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: gold;
    border-color: gold;
}
.theme-dark .channel-textarea-inner {
    border-color: gold;
}
.guild-channels .channel-text.selected:before {
    border-left: 2px solid gold;
}
.tooltip,
.bot-tag
 {
    background-color: gold;
    
}
.tooltip.tooltip-top:after,
.tooltip.tooltip-bottom:after, {
    border-top-color: gold;
}
.tab-bar.SIDE .tab-bar-item:before {
    border-left: 4px solid gold;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece
{
    background-color: gold;
    background-clip: padding-box;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece  {
    border: 3px solid white;
}
.premium-settings .subscription .premium-details .premium-title {
    background: url("https://images.discordapp.net/.eJwFwdsNwyAMAMBdGACbp6tsgwgiSAlG2P2qunvufua7b3OYS3XJAXAOqbxPK8q79GY7c79bWUNs5QeKaqnX06YKuEwYHbmMEX0gTBk8hUQhekyY_Sdi8DCHbrZrdvN_Ab0mIds.hQFfDB68-1obnCATw5MMfz4Fx8I") no-repeat;
}
